.valentine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
/* Custom class for Yes button styles */
.yes-button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #a7efb8; /* bg-green-500 */
  color: #fff; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 8px 16px; /* py-2 px-4 */
  border-radius: 8px; /* rounded */
  margin-right: 8px; /* mr-4 */
  border: hidden;
  cursor: pointer;
}

.yes-button:hover {
  background-color: #4f7457; /* hover:bg-green-700 */
}

/* Custom class for No button styles */
.no-button {
  background-color: #c90d0d; /* bg-red-500 */
  color: #fff; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 8px 16px; /* py-2 px-4 */
  border-radius: 8px; /* rounded */
  border: hidden;
  cursor: pointer;
}

.no-button:hover {
  background-color: #c82333; /* hover:bg-red-700 */
}
/* Custom class for text-4xl my-4 container */
.text-container {
  font-size: 2.25rem; /* Equivalent to text-4xl in tailwindcss */
  margin-top: 1rem; /* Equivalent to my-4 in tailwindcss */
  margin-bottom: 1rem; /* Equivalent to my-4 in tailwindcss */
}

.centered-container {
  display: flex;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  height: 100vh;
  margin: 0;
}

.github-link {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #007bff; /* Set the color as needed */
  text-decoration: none;
}

@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; -webkit-transform: translate(var(--x), var(--initialY)); -moz-transform: translate(var(--x), var(--initialY)); -ms-transform: translate(var(--x), var(--initialY)); -o-transform: translate(var(--x), var(--initialY)); }
  50% { width: .5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.9vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -70vmin;
  --x: -50%;
  --initialY: 100vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background:     /*    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,    */        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,        /* bottom right */    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,        /* bottom left */    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,        /* top left */    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,        /* top right */    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
  -webkit-animation: firework 2s infinite;
  -webkit-transform: translate(-50%, var(--y));
  -moz-transform: translate(-50%, var(--y));
  -ms-transform: translate(-50%, var(--y));
  -o-transform: translate(-50%, var(--y));
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;  
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}

